{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block navlist %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('metrics') }}">Metrics</a></li>
<li><a href="{{ url_for('background') }}">Background</a></li>
<li><a href="{{ url_for('cluster') }}">Clustering Activities</a></li>
<li><a href="{{ url_for('model') }}">Model Prediction</a></li>
<li class="active"><a href="#">About</a></li>
{% endblock %}

{% block content %}
<div class="well">
  <h2>About the Author</h2>
  <h4>Jeremy Smith</h4>
  <div class="row">
    <div class="col-sm-2">
      <img src="{{ url_for('static', filename='images/jeremysmith-bw.jpg') }}" class="img-rounded" width="100%"/>
    </div>
    <div class="col-sm-10">
      <p>
        I am a multidisciplinary scientist with experience analyzing and modeling complex electronic systems.
        Before becoming interested in the field of data science I studied materials science and physics and worked on challenges related to printed and flexible electronics.
        I am currently aiming to transition some of these skills into solving cutting edge problems in data science.
        In particular, my interests are in machine learning, neural networks, and NLP, and how to apply these techniques in as many diverse areas as I can!
      </p>
      <p>
        This project is part of my capstone for <a href="https://www.thedataincubator.com">The Data Incubator</a> program (Fall 2017).
      </p>
      <p>
        The project code can be found here (along with other example of my code)...
      </p>
      <ul>
        <li><a href="https://github.com/jzmnd/TDICapstoneProject">Data analysis and models</a></li>
        <li><a href="https://github.com/jzmnd/wl-balance-app">This web app</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <p>This project was built using...</p>
  <ul>
    <li>Python / numpy / scipy / pandas - the usual suspects</li>
    <li><a href="http://scikit-learn.org/stable/">Scikit learn</a> - for regression and classification models</li>
    <li><a href="https://www.postgresql.org">postgreSQL</a> - for managing the ATUS data</li>
    <li><a href="http://flask.pocoo.org">Flask</a> - for building the web app</li>
    <li><a href="http://getbootstrap.com">Bootstrap</a> - layout for the app</li>
    <li><a href="https://www.docker.com">Docker</a> - containers for deploying the models and predictors online</li>
    <li><a href="https://bokeh.pydata.org/en/latest/">Bokeh</a> - for basic plotting with Flask</li>
    <li><a href="https://d3js.org">d3</a> - for interactive bubble plot visualizations</li>
  </ul>
</div>

<div class="well">
  <p>
    <small>
      All data is from the <a href="https://www.bls.gov/tus/">American Time Use Survey (ATUS)</a> that is published by the <a href="https://www.bls.gov/">US Bureau for Labor Statistics</a>.
      Daily activity times for respondents between 2003 and 2015.
    </small>
  </p>
</div>
{% endblock %}
