{% extends "layout.html" %}
{% block title %}Clusting{% endblock %}

{% block navlist %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('metrics') }}">Metrics</a></li>
<li><a href="{{ url_for('background') }}">Background</a></li>
<li class="active"><a href="#">Clustering Activities</a></li>
<li><a href="{{ url_for('model') }}">Model Prediction</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
{% endblock %}

{% block content %}
<div class="well">
  <h2>Clustering of Activity Times</h2>
  <h4>Jeremy Smith</h4>
  <p>
    Using K-Means clustering we can group different people by how they spend their time.
  </p>
  <p>
    These clusters do not assume any demographic information about the respondents but we are able to see different patterns of time use.
    For example, some clusters are obviously part-time workers while others are full-time, students appear in one cluster and we can see whether a group has children or not.
    The radius of the bubble in the diagram below indicates the average time spent on that activity for the particular group.
  </p>
</div>

<div id="clusterNames" class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active clusterBtn" id="cluster0">
    <input type="radio" name="coptions">Cluster 1
  </label>
  <label class="btn btn-default clusterBtn" id="cluster1">
    <input type="radio" name="coptions">Cluster 2
  </label>
  <label class="btn btn-default clusterBtn" id="cluster2">
    <input type="radio" name="coptions">Cluster 3
  </label>
  <label class="btn btn-default clusterBtn" id="cluster3">
    <input type="radio" name="coptions">Cluster 4
  </label>
  <label class="btn btn-default clusterBtn" id="cluster4">
    <input type="radio" name="coptions">Cluster 5
  </label>
  <label class="btn btn-default clusterBtn" id="cluster5">
    <input type="radio" name="coptions">Cluster 6
  </label>
  <label class="btn btn-default clusterBtn" id="cluster6">
    <input type="radio" name="coptions">Cluster 7
  </label>
</div>

<div id="dayType" class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active dayBtn" id="weday">
    <input type="radio" name="dayoptions">Weekday
  </label>
  <label class="btn btn-default dayBtn" id="wehol">
    <input type="radio" name="dayoptions">Weekend/Holiday
  </label>
</div>

<div id="bubbleChart"></div>
{% endblock %}

{% block otherscripts %}
<!-- Bubble plot JS -->
<script src="{{ url_for('static', filename='bubble.js') }}"></script>
{% endblock %}
