{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block navlist %}
<li class="active"><a href="#">Home</a></li>
<li><a href="{{ url_for('metrics') }}">Metrics</a></li>
<li><a href="{{ url_for('background') }}">Background</a></li>
<li><a href="{{ url_for('cluster') }}">Clustering Activities</a></li>
<li><a href="{{ url_for('model') }}">Model Prediction</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
{% endblock %}

{% block content %}
<div class="well">
  <h1>
    "Can we predict a person's work-life balance tendencies from their demographic information?"
  </h1>
</div>

<div class="well">
  <h2>Work-Life Balance Prediction Project</h2>
  <h4>Jeremy Smith</h4>
  <p>
    Work-life balance is inherently linked to stress and stress related illness, as well as a lack of human productivity.
    Therefore the ability to predict a person's propensity to overwork or have a lack of leisure or self-care time etc. is very important.
    The healthcare industry already uses patient categorization to offer better tailored health services and more personalized care.
    The addition of work-life balance metrics to this would be extremely useful for improving this categorization.
  </p>
</div>

<div class="well">
  <div class="centered">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ url_for('static', filename='images/balance.jpg') }}" class="img-rounded" width="100%"/>
      </div>
      <div class="col-sm-8">
        <h4>Problem</h4>
        <p>Poor work-life balance has been correlated to stress-related illness<p>
        <h4>User</h4>
        <p>Healthcare Industries<br>e.g. hospitals, care providers, ACOs, insurance providers</p>
        <h4>Goal</h4>
        <p>To categorize customers and patients into risk groups
        <br>Use those categories to provide tailored health care</p>
      </div>
    </div>
  </div>
</div>     
{% endblock %}
