{% extends "layout.html" %}
{% block title %}Predictive Modeling{% endblock %}

{% block head %}
<!-- Bokeh resources -->
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block navlist %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('metrics') }}">Metrics</a></li>
<li><a href="{{ url_for('background') }}">Background</a></li>
<li><a href="{{ url_for('cluster') }}">Clustering Activities</a></li>
<li class="active"><a href="#">Model Prediction</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
{% endblock %}

{% block content %}
<div class="well">
  <h2>Predictive Modeling of Activity Times</h2>
  <h4>Jeremy Smith</h4>
  <p>
    Machine learning can be used to build a predictive model for the work-life balance metrics.
    Here we use a combination of Linear Ridge regression and a Random Forest regressor to predict the scores for the continuous metrics and an SVM classifier for the categorical metrics.
  </p>
  <p>
    The inputs to the models are 16 demographic indicators such as age, occupation, location, household information etc.
  </p>
</div>

<a href="{{ url_for('model') }}" class="btn btn-info" role="button">Return</a>

<div class="pltcontainer">
  <div id="metric1Plot">
    {{ plot_div1|indent(12)|safe }}
  </div>
  <div id="metric2Plot">
    {{ plot_div2|indent(12)|safe }}
  </div>
  <div id="metric3Plot">
    {{ plot_div3|indent(12)|safe }}
  </div>
  <div id="metric4Plot">
    {{ plot_div4|indent(12)|safe }}
  </div>
</div>

<div class="well">
  <h4>Predicted metric scores and classes</h4>
  <div id="predictionVals">
    <div class="row">
      <div class="col-sm-3">
        <p><b>Metric 1:</b> {{ prediction[0] }}</p>
        <p><b>Metric 2:</b> {{ prediction[1] }}</p>
      </div>
      <div class="col-sm-3">
        <p><b>Metric 3:</b> {{ prediction[2] }}</p>
        <p><b>Metric 4:</b> {{ prediction[3] }}</p>
      </div>
      <div class="col-sm-3">
        <p><b>Metric 5:</b> {{ prediction[4] }}</p>
        <p><b>Metric 6:</b> {{ prediction[5] }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block otherscripts %}
<!-- Bokeh JS for individual plots -->
{{ plot_script1|indent(4)|safe }}
{{ plot_script2|indent(4)|safe }}
{{ plot_script3|indent(4)|safe }}
{{ plot_script4|indent(4)|safe }}
{% endblock %}
