<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Work-Life Clustering Bubble App</title>
    <!-- Custom CSS and fonts-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/d3style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
  </head>

  <body>
    <h2>Clustering of Activity Times</h2>

    <div id="charts">
      <div id="bubbleContainer">
        
        <div id="clusterNames" class="btn-group btn-info top-btn" data-toggle="buttons">
          <label class="btn active clusterBtn" id="cluster1">
            <input type="radio" name="options">Cluster 1
          </label>
          <label class="btn clusterBtn" id="cluster2">
            <input type="radio" name="options">Cluster 2
          </label>
          <label class="btn clusterBtn" id="cluster3">
            <input type="radio" name="options">Cluster 3
          </label>
          <label class="btn clusterBtn" id="cluster4">
            <input type="radio" name="options">Cluster 4
          </label>
          <label class="btn clusterBtn" id="cluster5">
            <input type="radio" name="options">Cluster 5
          </label>
          <label class="btn clusterBtn" id="cluster6">
            <input type="radio" name="options">Cluster 6
          </label>
          <label class="btn clusterBtn" id="cluster7">
            <input type="radio" name="options">Cluster 7
          </label>
        </div>

        <div id="dayType" class="btn-group btn-default top-btn" data-toggle="buttons">
          <label class="btn active dayBtn" id="weday">
            <input type="radio" name="options">Weekday
          </label>
          <label class="btn dayBtn" id="wehol">
            <input type="radio" name="options">Weekend/Holiday
          </label>
        </div>

        <div id="bubbleChart"></div>
      </div>
    </div>

    <!-- JQuery JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Main JS-->
    <script src="{{ url_for('static', filename='bubble.js') }}"></script>
  </body>
</html>
